<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group.yzhs.alarm.mapper.AlarmHistoryMapper">


   <delete id="deleteExpiredHistory" parameterType="java.util.Date">
        delete from alarm_history where create_time &lt;= #{time}
    </delete>

<!--    Date getMaxCreateByNodeTag(@Param("nodeTag")String nodeTage);-->
    <select id="getMaxCreateByNodeTag" resultType="java.util.Date" parameterType="java.lang.Long">
        select Max(create_time) from alarm_history where ref_alarm_rule_id=#{alarmRuleId}
    </select>


</mapper>